<div class="container">
    <p class="title">{{feedTitle}}</p>
    <div class="grid-container">
        <mat-grid-list cols="1">
            <app-feed-card *ngFor="let item of feedItems" [feed]="item">
            </app-feed-card>
        </mat-grid-list>
    </div>
</div>
<div *ngIf="!category">
    <h2>Select a Category from Menu</h2>
</div>

<!-- <div tabindex="1">
    <iframe *ngIf="sesion && sesion.urlRPe"
            class="iframe-prescripcion-electronica"
            [src]="uriRPe"
            tabindex="1"
            (load)="onTerminaCargar()">
    </iframe>
    <div *ngIf="cargando" class="cargando-aplicacion preparando-prescripcion" tabindex="1">
        <div>
            <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
            <span style="font-weight:bold">Preparando la prescripción electrónica...</span>
        </div>
    </div>
</div> -->


